//
   Created by davidchiu on 12/16/15.

html
    head
        meta(name="apple-mobile-web-app-capable", content="yes")
        style.
            body, html, iframe, .image {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .message {
                font-weight: bold;
                font-size: 200px;
                position: absolute;
                top: 50%;
                left: 50%;
                color: #f0f0f0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .image img {
                width: 100%;
                position:absolute;
                top: 50%;
                left: 50%;
                color: #f0f0f0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }

        script(src="https://cdn.firebase.com/js/client/2.3.2/firebase.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="/js/nosleep.js")
        script(src="/js/client.js")
    body