//
   Created by davidchiu on 12/16/15.

html
    head
        style.
            body, * {
                /*font-size: 3vw;*/
            }
        script(src="https://cdn.firebase.com/js/client/2.3.2/firebase.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="/js/nosleep.js")
        script(src="/js/controller.js")
    body
        .notice
        label Screen:
        span.select
        hr
        h3 message
        textarea
        br
        button.msg submit
        hr
        h3 video
        a.vid(href="https://player.vimeo.com/video/106993014?autoplay=1") LA Food & Wine
        br
        br
        a.vid(href="https://youtu.be/B8NGxco67RI") youtube
        br
        br
        a.vid(href="http://www.lexus.com/video/video?bctid=3631673220001&isMobile=false") Lexus IS
        hr
        h3 images
        a.img(href="http://www.lexus.com/cm-img/gallery/2016/RCF/Lexus-RCF-molten-pearl-gallery-overlay-1204x677-LEXRCFMY15018201.jpg") Lexus RC
        br
        br
        a.img(href="/images/Bottega.jpg") Botega
        hr
        h3 apps
        a.app(href="/") nifty
        br
        br
        a.app(href="http://www.ustream.tv/embed/recorded/62039870?html5ui&autoplay=true") ustream
        br
        br
        a.app(href="http://vplayer.nbcsports.com/p/BxmELC/nbcsports_embed/select/media/d2zSDAjnRosW?parentUrl=&t=7&autoplay=true") nbc
        br
        br
        a.app(href="http://tourtracker.usaprocyclingchallenge.com/") tour tracker
        br
        br
        a.app(href="http://crowdpix.io/view/redbull/-JumHrIjVvNL0yO4toOA") scoreboard

