//
   Created by davidchiu on 12/16/15.

html
    head
        style.
            body {
                background: #ffffff;
            }
            img {
                width:60%;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

    body
        img(src="/images/nifty.png")
